* {
    margin: 0;
    padding: 0;
    border: 0;
}
button{
    background-color: rgb(190, 255, 92);
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid;
    padding: 4px 16px;
    margin-left: 8px;
    font-size: 14px;
}
button:hover{
    transition: color 1000ms;
    background-color: teal;
}
.card{
    font-size: 22px;
    text-align: center ;
    background-color: grey;
    padding: 14px;
    max-width: 500px;
    border-radius: 18px;
    margin: 8px auto;
    border: 2px solid rgb(4, 0, 7);
    
}
input{
    background-color: rgb(144, 238, 245);
}
.principalButtons{
    padding-top: 18px;
    text-align: center;
}

table, th, td{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

select{
    border: 1px solid black;
}

.init{
    border: 1px solid black;
    
}